name: 'robles Test [PRODUCTION]'
on:
  pull_request:

jobs:
  lint:
    name: Lint book
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Lint via robles
        uses: docker://razeware/robles:release-v2
        with:
          entrypoint: '/app/robles/bin/robles'
          args: 'book lint --without-edition'
        env:
          ENV: staging
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
